:root {
  --tyrian: #550527;
  --bg-gradient: linear-gradient(63.31deg, #FFFBF4 17.18%, #FFFDF9 84.14%);
}

.App {
  text-align: center;
  background: var(--bg-gradient);
  color: var(--tyrian);
  padding: 0px 48px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}






@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
