body {
  margin: 0;
  font-family: "Inter", system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica, Arial, sans-serif;
  /* Enable kerning and optional ligatures */
  text-rendering: optimizeLegibility;
  /* Disable auto-enlargement of small text in Safari */
  text-size-adjust: 100%;
  /* Make type rendering look crisper */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(63.31deg, #FFFBF4 17.18%, #FFFDF9 84.14%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
